<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#accordianCategories" aria-expanded="true" aria-controls="accordianCategories">
                <h4 class="panel-title">Categories</h4>
            </a>
        </div>
        <div id="accordianCategories" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Categories">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-if="categoryList" ng-repeat="category in categoryList">
                        <a href="{{category.topic_url}}">
                            <h4>{{category.name}}</h4>
                            <p>{{category.description_text}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseLatst" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">Latest</h4>
            </a>
        </div>
        <div id="collapseLatst" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <ul class="list-group">
                <li class="list-group-item" ng-if="topicList" ng-repeat="topic in topicList">
                    <a href="{{category.topic_url}}">
                        <h4>{{topic.title}}</h4>
                        <p>{{topic.excerpt}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>